xsd/humanDashGame.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsi:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.univ-grenoble-alpes.fr/l3miage/humanDash"
        xmlns:jeu="http://www.univ-grenoble-alpes.fr/l3miage/humanDash"
        elementFormDefault="qualified">
    <!--la racine du jeu -->
    <xsi:element name="game" type="jeu:Game" />
    
    <!--definir le type Complexe Game avec pour element joueur allant 1 a unbounded -->
    <xsi:complexType name="Game">
        <xsi:sequence>
           <xsi:element name="highScore" type="xsi:positiveInteger" />
        </xsi:sequence>
    </xsi:complexType>
    
</xsi:schema>